<div class="d-flex justify-content-center">
  <div class="timer-container">
    <div class="d-flex align-items-center flex-column">
      <p id="headline"></p>
      <p id="headline-comment"></p>
    </div>
    <div id="countdown" data-deadline='<%= deadline %>'>
      <ul>
        <li><span id="days"></span>Days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
  </div>
</div>
