.auction-details {
  list-style: none;
  background-color:$primary;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.button_bid {
color: $primary;
background-color: white;
  &:hover {
    color: $primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.auction-bids .img-bid {
  object-fit: contain;
  height: 100px;
  width: auto;
}


.details p {
  margin: 0 !important;

}