.auction-details {
  list-style: none;
  background-color:$primary;
  color: white;

}

.bid-card-img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh;
  width: 25%;

  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.button_bid {
color: $primary;
background-color: white;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  &:hover {
    color: $primary;
  }
}

.details p {
  margin: 0 !important;
}