.fa-pencil-alt, .fa-trash{
   font-size: 12px;
}
.header-index {
   background-color:$primary;
   color: white;

   .header-title {
      p, h1 {
         line-height: 15px;
      }
   }
}

.card-index {
   width: 48%;
   margin: 9px;
}

.join_auction {
   width: 100%;
   display: flex;
   background: $primary;
   color: white;
   padding: 10px;
   justify-content: center;
   align-items: center;
   &:hover a {
      color: white;
      text-decoration: none;
   }
   }


   .join_auction:hover {
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
   }

   .details-auction p, .details-auction h6{
      line-height: 0px;
   }