.auction-details {
  list-style: none;
  background-color: #DA6350;
  color: white;
}

.bid-card-img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh;
  width: 25%;
}