#footer {
  background-color: #DFDAD5;
  padding: 20px;
  padding-top: 56px;
  margin-top: 56px;
  color: $gray;
  font-size: 12px;
  p:hover {
      cursor: pointer;
      color: #F3F1EF;
  }
}

h6 {
  font-size: 15px;
  padding-bottom: 10px;
}
